{% extends '__base__.html' %}

{% block script %}
    <script src="{{ static_route }}static/js/pagination.js"></script>
    <script src="{{ static_route }}static/js/scroll_to_top.js"></script>
{% endblock %}

{% block content %}

    {% if pagination %}

        {% for event in pagination.items %}

            <div class="mdui-typo " style="margin: 16px 0;">
                <div class="mdui-shadow-6 mdui-hoverable">
                    <li class="mdui-list-item list-item-unclickable blog-title-container">
                        <a href="/event/{{ event.id }}">
                            <h3 class="mdui-text-color-theme">{{ event.name }}</h3>
                        </a>
                    </li>
                    <div class="mdui-divider"></div>
                    <li class="mdui-list-item list-item-unclickable">
                        <div class="mdui-list-item-content mdui-text-color-theme-secondary">
                            <small>
                                <a href="/user/{{ event.user_name }}">{{ event.user_name }}</a>
                                发表于 {{ event.created_at|datetime }}
                            </small>
                        </div>
                    </li>
                    <li class="mdui-list-item list-item-unclickable" style="padding-top: 8px; padding-bottom: 8px;">
                        <div class="mdui-list-item-title mdui-text-color-theme-text">{{ event.summary }}</div>
                    </li>
                </div>
            </div>

        {% endfor %}

        {% include '__pagination_base__.html' %}

    {% endif %}

    {% include '__scroll_to_top_button_base__.html' %}
{% endblock %}