{% extends '__base__.html' %}

{% block script %}
    <script>
        function initVM(data) {
            var vm = new Vue({
                el: '#today_in_history_container',
                data: {
                    results: data.result,
                    date: data.today
                },
            });
            $('#loading').hide();
            $('#today_in_history_container').show();
        }

        $(function () {
            $('#today_in_history_container').hide();
            Api.getTodayInHistory(function (error, data, jqXHR) {
                if (error) {
                    $('#loading').hide();
                    return mdui.alert(error.message);
                }
                initVM(data)
            });
        });
    </script>
    <script src="{{ static_route }}/static/js/scroll_to_top.js"></script>
{% endblock %}

{% block under_toolbar %}
    <div id="loading" class="mdui-progress">
        <div class="mdui-progress-indeterminate"></div>
    </div>
{% endblock %}

{% block content %}
    {% raw %}
    <div class="mdui-typo">
        <h1 class="mdui-text-center">欢迎来到 Celery Soft 学术</h1>

        <div id="today_in_history_container">
            <div>
                <p>今天是<b>{{ date }}</b>，来看看历史上的今天发生了什么：</p>
                <ul>
                    <li v-for="result in results">
                        <p>
                            <b>{{ result.year }}</b>年，<span v-text.trim="result.title"></span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <p>如果你还有兴趣的话，可以看看</p>
            <p><label>本站公告：<a href="http://www.celerysoft.science/event/">http://www.celerysoft.science/event/</a></label></p>
            <p><label>Celery Soft的博客：<a href="http://www.celerysoft.com/blog/">www.celerysoft.com/blog/</a></label></p>
        </div>
    </div>
    {% endraw %}

    {% include '__scroll_to_top_button_base__.html' %}
{% endblock %}