{% extends '__base__.html' %}

{% block body_drawer_class %}
{% endblock %}

{% block drawer_class %}
    mdui-drawer-close
{% endblock %}

{% block beforehead %}
    <script>
        $(function () {
            let
                ID = '{{ id }}',
                TYPE = '{{ type }}',
                action = '{{ action }}';

            let vm_service_template = new Vue({
                el: '#form',
                data: {
                    action: action,
                    type: '',
                    title: '',
                    subtitle: '',
                    description: '',
                    balance: '',
                    price: 0,
                    initialization_fee: 0,
                    available: false,
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();
                        let callback = function (error, data, jqXHR) {
                            if (error) {
                                return mdui.snackbar({
                                    message: error.message
                                });
                            } else {
                                return location.assign('/manage/service-template/');
                            }
                        };
                        let data = {
                            type: this.$data.type,
                            title: this.$data.title,
                            subtitle: this.$data.subtitle,
                            description: this.$data.description,
                            balance: this.$data.balance,
                            price: this.$data.price,
                            initialization_fee: this.$data.initialization_fee
                        };
                        if (action === 'POST') {
                            Api.createServiceTemplate(
                                this.$data.type,
                                this.$data.title,
                                this.$data.subtitle,
                                this.$data.description,
                                this.$data.balance,
                                this.$data.price,
                                this.$data.initialization_fee,
                                callback);
                        } else if (action === 'PATCH') {
                            Api.updateServiceTemplate(
                                ID,
                                this.$data.type,
                                this.$data.title,
                                this.$data.subtitle,
                                this.$data.description,
                                this.$data.balance,
                                this.$data.price,
                                this.$data.initialization_fee,
                                this.$data.available,
                                callback);
                        }
                    },
                    cancel: function (event) {
                        event.preventDefault();
                        return location.assign('/manage/service-template/');
                    }
                }
            });

            if (TYPE === '0') {
                vm_service_template.$data.type = 0;
            } else if (TYPE === '1') {
                vm_service_template.$data.type = 1;
            }

            if (ID) {
                Api.getServiceTemplate(ID, function (error, data, jqXHR) {
                    $('#loading').hide();

                    if (error) {
                        return mdui.alert(error.message);
                    }

                    let template = data.template;
                    console.log(template);
                    vm_service_template.$data.type = template.type;
                    vm_service_template.$data.title  = template.title;
                    vm_service_template.$data.subtitle = template.subtitle;
                    vm_service_template.$data.description = template.description;
                    vm_service_template.$data.balance = template.balance;
                    vm_service_template.$data.price = template.price;
                    vm_service_template.$data.initialization_fee = template.initialization_fee;
                    vm_service_template.$data.available = template.available;
                });
            }
            else {
                $('#loading').hide();
            }
        });
    </script>
{% endblock %}

{% block under_toolbar %}
    <div id="loading" class="mdui-progress">
        <div class="mdui-progress-indeterminate"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="mdui-typo">
        <h5>说明：</h5>
        <ul>
            <li><p>不同描述请用<kbd>#</kbd>隔开。</p></li>
            <li>1G = <mark>1073741824</mark></li>
            <li>512M = <mark>536870912</mark></li>
        </ul>
    </div>

    <form id="form">
        <p><small>套餐类型</small></p>
        <select v-model="type" class="mdui-select" mdui-select1>
            <option disabled value="">请选择套餐类型</option>
            <option value="0">包月套餐</option>
            <option value="1">流量套餐</option>
        </select>

        <div class="mdui-textfield">
            <label class="mdui-textfield-label">标题</label>
            <input v-model="title" class="mdui-textfield-input" type="text" style="padding-right: 10px;"/>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">副标题</label>
            <input v-model="subtitle" class="mdui-textfield-input" type="text" style="padding-right: 10px;"/>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">描述</label>
            <textarea v-model="description" class="mdui-textfield-input" type="text"
                      style="padding-right: 10px;"></textarea>
        </div>

        <div class="mdui-textfield">
            <label class="mdui-textfield-label">流量</label>
            <input v-model="balance" class="mdui-textfield-input" type="text" style="padding-right: 10px;"/>
        </div>

        <div class="mdui-textfield">
            <label class="mdui-textfield-label">价格</label>
            <input v-model="price" class="mdui-textfield-input" type="text" style="padding-right: 10px;"/>
        </div>

        <div class="mdui-textfield">
            <label class="mdui-textfield-label">初装费</label>
            <input v-model="initialization_fee" class="mdui-textfield-input" type="text" style="padding-right: 10px;"/>
        </div>

        <label v-if="action === 'PATCH'" class="mdui-checkbox">
            <input v-model="available" type="checkbox"/>
            <i class="mdui-checkbox-icon"></i>
            Available
        </label>

        <div class="mdui-row mdui-center" style="width: 192px;">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-float-left"
                    @click="submit"
                    style="width: 80px;margin-top: 16px;margin-bottom: 16px;">
                保存
            </button>
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-float-right"
                    @click="cancel"
                    style="width: 80px;margin-top: 16px;margin-bottom: 16px;">
                取消
            </button>
        </div>
    </form>
{% endblock %}