{% extends '__base__.html' %}

{% block body_drawer_class %}
{% endblock %}

{% block drawer_class %}
    mdui-drawer-close
{% endblock %}

{% block beforehead %}
    <script>
        $(function() {
            var vm = new Vue({
                el: "#vue",
                methods: {
                    redirect_to_manage_event: function () {
                        return location.assign('/manage/event/');
                    },
                    redirect_to_manage_user: function () {
                        return location.assign('/manage/user/');
                    },
                    redirect_to_manage_role: function () {
                        return location.assign('/manage/role/');
                    },
                    redirect_to_manage_invitation: function () {
                        return location.assign('/manage/invitation/')
                    },
                    redirect_to_manage_product: function () {
                        return location.assign('/manage/service-template/')
                    },
                    redirect_to_manage_usage: function () {
                        return location.assign('/manage/usage/')
                    }
                }
            });
            console.log('{{ static_route }}');
        });
    </script>
{% endblock %}

{% block content %}
    <div id="vue" class="mdui-row-md-2 mdui-row-lg-3 mdui-grid-card-list">
        <div class="mdui-col">
            <div class="mdui-card mdui-hoverable mdui-grid-tile clickable" v-on:click="redirect_to_manage_event">
                <div class="mdui-card-media">
                    <img src="{{ static_route }}/static/image/manage_event.jpg"/>
                    <div class="mdui-card-media-covered">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">公告管理</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdui-col">
            <div class="mdui-card mdui-hoverable mdui-grid-tile clickable" v-on:click="redirect_to_manage_user">
                <div class="mdui-card-media">
                    <img src="{{ static_route }}/static/image/manage_user.gif"/>
                    <div class="mdui-card-media-covered">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">用户管理</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdui-col">
            <div class="mdui-card mdui-hoverable mdui-grid-tile clickable" v-on:click="redirect_to_manage_role">
                <div class="mdui-card-media">
                    <img src="{{ static_route }}/static/image/manage_role.png"/>
                    <div class="mdui-card-media-covered">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">角色管理</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdui-col">
            <div class="mdui-card mdui-hoverable mdui-grid-tile clickable" v-on:click="redirect_to_manage_invitation">
                <div class="mdui-card-media">
                    <img src="{{ static_route }}/static/image/manage_invitation_code.jpg"/>
                    <div class="mdui-card-media-covered">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">邀请码管理</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdui-col">
            <div class="mdui-card mdui-hoverable mdui-grid-tile clickable" v-on:click="redirect_to_manage_product">
                <div class="mdui-card-media">
                    <img src="{{ static_route }}/static/image/manage_service.png"/>
                    <div class="mdui-card-media-covered">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">套餐管理</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdui-col">
            <div class="mdui-card mdui-hoverable mdui-grid-tile clickable" v-on:click="redirect_to_manage_usage">
                <div class="mdui-card-media">
                    <img src="{{ static_route }}/static/image/manage_usage.jpg"/>
                    <div class="mdui-card-media-covered">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">流量管理</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}