{% extends '__base__.html' %}

{% block meta %}
    <meta id="paginate-data" name="paginate_url_for" content="{{ pagination_url_for }}">
{% endblock %}

{% block body_drawer_class %}
{% endblock %}

{% block drawer_class %}
    mdui-drawer-close
{% endblock %}

{% block script %}
    <script>
        $(function () {
            let btnCreateInvitationCode = $('#btn_create_invitation_code');
            btnCreateInvitationCode.click(function () {
                btnCreateInvitationCode.prop('disabled', true)
                httpPost('/api/invitation', null, function (error, data, jqXHR) {
                    btnCreateInvitationCode.prop('disabled', false);
                    if (error) {
                        return mdui.snackbar({
                            message: error.message
                        });
                    } else {
                        return mdui.snackbar({
                            message: data.code
                        });
{#                        return location.assign('/manage/event/');#}
                    }
                })
            })
        })
    </script>
{% endblock %}

{% block content %}

    <div class="mdui-table-fluid mdui-typo" style="margin: 16px 0;">
        <table class="mdui-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>邀请者</th>
                <th>受邀人</th>
                <th>生成时间</th>
                <th>使用时间</th>
                <th>邀请码</th>
                <th>有效</th>
            </tr>
            </thead>
            {% if pagination %}
                <tbody>
                {% for invitation in pagination.items %}
                    <tr>
                        <td>{{ invitation.id }}</td>
                        <td><a href="/user/{{ invitation.inviter_username }}">{{ invitation.inviter_username }}</a></td>
                        <td><a href="/user/{{ invitation.invitee_username }}">{{ invitation.invitee_username }}</a></td>
                        <td>{{ invitation.created_at|datetime }}</td>
                        <td>{{ invitation.invited_at|datetime }}</td>
                        <td>{{ invitation.code }}</td>
                        <td>{{ invitation.available|boolean_to_yes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>

        {% if pagination %}
            {% include '__pagination_base__.html' %}
        {% endif %}
    </div>


    <button id="btn_create_invitation_code" class="mdui-fab mdui-color-theme-accent mdui-fab-fixed mdui-ripple"
            mdui-tooltip="{content: '创建邀请码', position: 'top'}">
        <i class="mdui-icon material-icons">create</i>
    </button>

{% endblock %}