{% extends '__base__.html' %}

{% block body_drawer_class %}
{% endblock %}

{% block drawer_class %}
    mdui-drawer-close
{% endblock %}

{% block beforehead %}
    <script>
        $(function() {
            $('#btn_refresh').click(() => {
                vm_usage.loadData();
            });

            $('#btn_restart_listener_server').click(() => {
                Api.restartListenerServer(function (error, data, jqXHR) {
                    if (error) {
                        return mdui.alert(error.message);
                    }

                    return mdui.snackbar({
                        message: data.message
                    });
                })
            });

            let vm_usage = new Vue({
                el: "#vm_usage",
                data: {
                    page: 1,
                    usages: [],
                    warningMessage: ''
                },
                methods: {
                    loadData: function () {
                        Api.getUsages(function (error, data, jqXHR) {
                            if (error) {
                                return mdui.alert(error.message);
                            }

                            vm_usage.$data.usages = data.usages;
                            vm_usage.$data.warningMessage = data.warning_message;

                            return mdui.snackbar({
                                message: '获取数据成功'
                            });
                        });
                    }
                }
            });

            vm_usage.loadData();
        });
    </script>
{% endblock %}

{% block content %}
    <div id="vm_usage">
        <div v-if="usages.length > 0" class="mdui-table-fluid" style="margin: 16px 0;">
            <ul v-for="usage in usages">
                <p>{{usage}}</p>
            </ul>
            <ul>
                <p class="mdui-text-color-theme-accent">{{warningMessage}}</p>
            </ul>
        </div>
        <div v-else class="mdui-typo" style="margin: 32px 0;">
            暂无流量信息，是不是监听脚本尚未运行？
        </div>
    </div>

    <div class="mdui-text-center" style="margin-bottom: 16px;">
        <button id="btn_restart_listener_server" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">重启流量监听服务</button>
    </div>

    <button id="btn_refresh" class="mdui-fab mdui-color-theme-accent mdui-fab-fixed mdui-ripple"
            mdui-tooltip="{content: '刷新数据', position: 'top'}">
        <i class="mdui-icon material-icons">autorenew</i>
    </button>
{% endblock %}