{% extends '__base__.html' %}

{% block script %}
    <script src="{{ static_route }}static/js/pagination.js"></script>
{% endblock %}

{% block body_drawer_class %}
{% endblock %}

{% block drawer_class %}
    mdui-drawer-close
{% endblock %}

{% block beforehead %}
    <script>
        function stopPropagation(event) {
            event = event || window.event;
            if (event.stopPropagation) { //W3C阻止冒泡方法
                event.stopPropagation();
            } else {
                event.cancelBubble = true; //IE阻止冒泡方法
            }
        }

        $(function () {
            var vm = new Vue({
                el: '#vm',
                methods: {
                    edit_event: function (id) {
                        stopPropagation();
                        location.assign('/manage/event/edit?id=' + id);
                    },
                    delete_event: function (id, name) {
                        stopPropagation();
                        mdui.confirm('确认要删除“' + name + '”？\n删除后不可恢复！',
                            function () {
                                httpDelete('/api/event', {id: id}, function (err, r) {
                                    if (err) {
                                        return mdui.alert(err.message || err.error || err);
                                    }
                                    refresh();
                                });
                            });
                    },
                    redirect_to_user_page: function (userName) {
                        stopPropagation();
                        location.assign('/user/' + userName);
                    },
                    view_event: function (id) {
                        location.assign('/event/' + id);
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="mdui-typo" id="vm">
        <div class="mdui-list mdui-container-fluid mdui.typo" style="text-align: center">
            <div class="mdui-row mdui-list-item" style="padding-left: 0;">
                <div class="mdui-col-xs-5"><b>标题</b></div>
                <div class="mdui-col-xs-2"><b>作者</b></div>
                <div class="mdui-col-xs-4"><b>发布时间</b></div>
                <div class="mdui-col-xs-1"></div>
            </div>

            {% if pagination %}

                {% for event in pagination.items %}
                    <div class="mdui-row mdui-list-item mdui-ripple" style="padding-left: 0;"
                         v-on:click="view_event({{ event.id }})">
                        <div class="mdui-col-xs-5" style="text-align: center"
                             mdui-tooltip="{content: '{{ event.name }}'}">
                            {{ event.name }}
                        </div>
                        <a class="mdui-col-xs-2 mdui.center"
                           v-on:click="redirect_to_user_page('{{ event.user_name }}')">
                            {{ event.user_name }}
                        </a>
                        <div class="mdui-col-xs-4 mdui.center">{{ event.created_at|datetime }}</div>
                        <div class="mdui-col-xs-1 mdui.center">
                            <i class="mdui-list-item-icon mdui-icon material-icons mdui-ripple"
                               v-on:click="edit_event({{ event.id }})" mdui-tooltip="{content: '编辑'}">create</i>
                            <i class="mdui-list-item-icon mdui-icon material-icons mdui-ripple"
                               v-on:click="delete_event({{ event.id }}, '{{ event.name }}')"
                               mdui-tooltip="{content: '删除'}">delete</i>
                        </div>
                    </div>
                {% endfor %}

                {% include '__pagination_base__.html' %}

            {% endif %}
        </div>
    </div>

    <a href="/manage/event/create/">
        <button class="mdui-fab mdui-color-theme-accent mdui-fab-fixed mdui-ripple"
                mdui-tooltip="{content: '发布新公告', position: 'top'}">
            <i class="mdui-icon material-icons">create</i>
        </button>
    </a>
{% endblock %}