{% extends '__base__.html' %}

{% block body_drawer_class %}
{% endblock %}

{% block drawer_class %}
    mdui-drawer-close
{% endblock %}

{% block beforehead %}
    <script>
        $(function () {
            let
                ID = '{{ id }}',
                action = '{{ action }}';

            let vm_ = new Vue({
                el: '#form',
                data: {
                    name: '',
                    label: '',
                    description: '',
                    rolePermission: [],
                    permissions: ''
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();
                        let callback = function (error, data, jqXHR) {
                            if (error) {
                                return mdui.snackbar({
                                    message: error.message
                                });
                            } else {
                                return location.assign('/manage/role/');
                            }
                        };
                        let data = {
                            name: this.$data.name,
                            label: this.$data.label,
                            description: this.$data.description,
                            permissions: this.$data.rolePermission
                        };
                        if (action === 'POST') {
                            httpPost('/api/role', data, callback);
                        } else if (action === 'PATCH') {
                            data.id = ID;
                            httpPatch('/api/role', data, callback);
                        }
                    },
                    cancel: function (event) {
                        event.preventDefault();
                        return location.assign('/manage/role/');
                    },
                    derive_mdui_tooltip: function (content) {
                        var tooltip = { content: content };
                        return JSON.stringify(tooltip);
                    }
                }
            })

            function getPermissions(roleId, renderFunc) {
                let data = roleId === null || roleId === '' ? null : { role_id: roleId, all_permissions: true};

                httpGet('/api/permission', data, function (error, data, jqXHR) {
                    if (error) {
                        return mdui.alert(error.message);
                    }

                    renderFunc(data);
                });
            }

            if (ID) {
                getPermissions(ID, function (data) {
                    $('#loading').hide();

                    vm_.$data.permissions = data.all_permissions;
                    vm_.$data.rolePermission  = data.permissions.map(permission => permission.id);
                    vm_.$data.name = data.role_name;
                    vm_.$data.label = data.role_label;
                    vm_.$data.description = data.role_description;
                });
            }
            else {
                getPermissions(null, function (data) {
                    $('#loading').hide();

                    vm_.$data.permissions = data.all_permissions;
                });
            }
        });
    </script>
{% endblock %}

{% block under_toolbar %}
    <div id="loading" class="mdui-progress">
        <div class="mdui-progress-indeterminate"></div>
    </div>
{% endblock %}

{% block content %}
    <form id="form">
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">角色名</label>
            <input v-model="name" class="mdui-textfield-input" type="text" style="padding-right: 10px;"/>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">标签</label>
            <input v-model="label" class="mdui-textfield-input" type="text" style="padding-right: 10px;"/>
        </div>
        <div class="mdui-textfield">
            <label class="mdui-textfield-label">描述</label>
            <textarea v-model="description" class="mdui-textfield-input" type="text"
                      style="padding-right: 10px;"></textarea>
        </div>

        <p class="mdui-text-color-theme">角色权限</p>

        <div v-if="permissions.length > 0">
            <label v-for="permission in permissions"  class="mdui-checkbox" style="margin: 0 16px;"
                   :mdui-tooltip=derive_mdui_tooltip(permission.description)>
                <input type="checkbox" :value="permission.id" v-model="rolePermission"/>
                <i class="mdui-checkbox-icon"></i>
                {{permission.name}}({{permission.label}})
            </label>
        </div>
        <div v-else>
            <p style="margin: 16px 8px">暂无权限，请先创建权限。</p>
        </div>

        <div class="mdui-row mdui-center" style="width: 192px;">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-float-left"
                    v-on:click="submit"
                    style="width: 80px;margin-top: 16px;margin-bottom: 16px;">
                保存
            </button>
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-float-right"
                    v-on:click="cancel"
                    style="width: 80px;margin-top: 16px;margin-bottom: 16px;">
                取消
            </button>
        </div>
    </form>
{% endblock %}