{% extends '__base__.html' %}

{% block script %}
    <script>
        $(function () {
            let userId = '{{ session.user.id }}';

            let vm_my_product = new Vue({
                el: "#vm_my_product",
                data: {
                    products: null,
                    page: 1,
                    loadMoreVisible: false
                },
                methods: {
                    loadMoreProduct: function () {
                        this.page++;
                        this.getProduct()
                    },
                    getProduct: function () {
                        Api.getUserService(userId, vm_my_product.$data.page, PAGE_SIZE, function (error, data, jqXHR) {
                            $('#loading').hide();

                            if (error) {
                                return mdui.alert(error.message);
                            }

                            vm_my_product.$data.loadMoreVisible = data.page < data.max_page;

                            let length = data.service.length;
                            for (let i = 0; i < length; i++) {
                                let service = data.service[i];
                                service.balance = ((service.package - service.usage) / 1024 / 1024).toFixed(2);
                                if (service.alive) {
                                    if(service.available) {
                                        service.status_str = '有效';
                                    } else {
                                        service.status_str = '待续费';
                                    }
                                } else {
                                    service.status_str = '失效'
                                }
                                service.detail_url = '/product/detail/' + service.id;
                            }

                            vm_my_product.$data.products = vm_my_product.$data.products ? vm_my_product.$data.products.concat(data.service) : data.service;
                        });
                    },
                    showProductDetail: function (url) {
                        location.assign(url);
                    }
                }
            });

            vm_my_product.getProduct();
        });
    </script>

    {% if debug %}
    <script src="{{ static_route }}/static/js/scroll_to_top.js"></script>
    {% else %}
    <script src="{{ static_route }}{{ '/static/js/scroll_to_top.js' | hash }}"></script>
    {% endif %}
{% endblock %}

{% block under_toolbar %}
    <div id="loading" class="mdui-progress">
        <div class="mdui-progress-indeterminate"></div>
    </div>
{% endblock %}

{% block content %}
    {% raw %}
    <div id="vm_my_product">
        <div v-if="!products"></div>
        <div v-else-if="products.length > 0" class="mdui-table-fluid" style="margin: 16px 0;">
            <table class="mdui-table mdui-table-hoverable">
                <thead>
                <tr>
                    <th>学术名</th>
                    <th>学术端口</th>
                    <th>剩余学术点</th>
                    <th>学术状态</th>
                </tr>
                </thead>
                <tbody class="mdui-typo">
                <tr v-for="product in products" @click="showProductDetail(product.detail_url)" class="clickable">
                    <td>{{ product.title }}</td>
                    <td>{{ product.port }}</td>
                    <td>{{ product.balance }} M</td>
                    <td>{{ product.status_str }}</td>
                </tr>
                </tbody>
            </table>

            <div v-if="loadMoreVisible" class="mdui-text-center" style="margin: 16px 0;">
                <button v-on:click="loadMoreProduct" class="mdui-btn">点击加载更多</button>
            </div>
        </div>
        <div v-else class="mdui-typo" style="margin: 32px 0;">
            暂无学术，去<a href="/product/create/">订阅</a>
        </div>
    </div>
    {% endraw %}

    {% include '__scroll_to_top_button_base__.html' %}
{% endblock %}