{% extends '__base__.html' %}

{% block script %}
    <script src="{{ static_route }}/static/js/scroll_to_top.js"></script>
{% endblock %}

{% block content %}
    <div class="mdui-tab  mdui-tab-full-width" mdui-tab>
        <a href="#tab_monthly_payment" class="mdui-ripple mdui-ripple-white">
            <i class="mdui-icon fa fa-calendar"></i>
            <label>包月套餐</label>
        </a>
        <a href="#tab_data_payment" class="mdui-ripple mdui-ripple-white">
            <i class="mdui-icon fa fa-signal"></i>
            <label>流量套餐</label>
        </a>
    </div>

    <!-- 包月套餐选项卡内容 -->
    <div id="tab_monthly_payment" class="mdui-p-a-2">
        <h3>按需选择，称心如意</h3>
        <p>每月1号重置套餐流量，请根据自身需要选择一个合适的套餐。</p>

        <div class="mdui-row-sm-2 mdui-row-md-3 mdui-row-lg-4 mdui-grid-card-list">
            <div class="mdui-col">
                <div class="mdui-card mdui-shadow-6 mdui-hoverable mdui-grid-tile">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">1G套餐</div>
                        <div class="mdui-card-primary-subtitle">适合浏览网页，查找资料</div>
                    </div>

                    <div class="mdui-card-content mdui-typo">
                        <ul>
                            <li>1GB套餐流量</li>
                            <li>1个月有效期</li>
                            <li>每月1号重置流量</li>
                            <li>基本技术支持</li>
                        </ul>
                    </div>

                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple">立即订购</button>
                    </div>
                </div>
            </div>

            <div class="mdui-col">
                <div class="mdui-card mdui-shadow-6 mdui-hoverable mdui-grid-tile">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">2G套餐</div>
                        <div class="mdui-card-primary-subtitle">适合浏览网页，查找资料</div>
                    </div>

                    <div class="mdui-card-content mdui-typo">
                        <ul>
                            <li>2GB套餐流量</li>
                            <li>1个月有效期</li>
                            <li>每月1号重置流量</li>
                            <li>基本技术支持</li>
                        </ul>
                    </div>

                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple">立即订购</button>
                    </div>
                </div>
            </div>

            <div class="mdui-col">
                <div class="mdui-card mdui-shadow-6 mdui-hoverable mdui-grid-tile">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">2G套餐</div>
                        <div class="mdui-card-primary-subtitle">适合浏览网页，查找资料</div>
                    </div>

                    <div class="mdui-card-content mdui-typo">
                        <ul>
                            <li>2GB套餐流量</li>
                            <li>1个月有效期</li>
                            <li>每月1号重置流量</li>
                            <li>基本技术支持</li>
                        </ul>
                    </div>

                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple">立即订购</button>
                    </div>
                </div>
            </div>

            <div class="mdui-col">
                <div class="mdui-card mdui-shadow-6 mdui-hoverable mdui-grid-tile">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">2G套餐</div>
                        <div class="mdui-card-primary-subtitle">适合浏览网页，查找资料</div>
                    </div>

                    <div class="mdui-card-content mdui-typo">
                        <ul>
                            <li>2GB套餐流量</li>
                            <li>1个月有效期</li>
                            <li>每月1号重置流量</li>
                            <li>基本技术支持</li>
                        </ul>
                    </div>

                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple">立即订购</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- 流量套餐选项卡内容 -->
    <div id="tab_data_payment" class="mdui-p-a-2">
        <h3>不用不扣，毫不浪费</h3>
        <p>有效期内流量不清零，超长的使用周期，向流量清零说不。</p>

        <div class="mdui-row-sm-2 mdui-row-md-3 mdui-row-lg-4 mdui-grid-card-list">
            <div class="mdui-col">
                <div class="mdui-card mdui-shadow-6 mdui-hoverable mdui-grid-tile">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">1G套餐</div>
                        <div class="mdui-card-primary-subtitle">适合浏览网页，查找资料</div>
                    </div>

                    <div class="mdui-card-content mdui-typo">
                        <ul>
                            <li>2GB套餐流量</li>
                            <li>12个月有效期</li>
                            <li>基本技术支持</li>
                        </ul>
                    </div>

                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple">立即订购</button>
                    </div>
                </div>
            </div>

            <div class="mdui-col">
                <div class="mdui-card mdui-shadow-6 mdui-hoverable mdui-grid-tile">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">2G套餐</div>
                        <div class="mdui-card-primary-subtitle">适合浏览网页，查找资料</div>
                    </div>

                    <div class="mdui-card-content mdui-typo">
                        <ul>
                            <li>2GB套餐流量</li>
                            <li>12个月有效期</li>
                            <li>基本技术支持</li>
                        </ul>
                    </div>

                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple">立即订购</button>
                    </div>
                </div>
            </div>

            <div class="mdui-col">
                <div class="mdui-card mdui-shadow-6 mdui-hoverable mdui-grid-tile">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">2G套餐</div>
                        <div class="mdui-card-primary-subtitle">适合浏览网页，查找资料</div>
                    </div>

                    <div class="mdui-card-content mdui-typo">
                        <ul>
                            <li>2GB套餐流量</li>
                            <li>12个月有效期</li>
                            <li>基本技术支持</li>
                        </ul>
                    </div>

                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple">立即订购</button>
                    </div>
                </div>
            </div>

            <div class="mdui-col">
                <div class="mdui-card mdui-shadow-6 mdui-hoverable mdui-grid-tile">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">2G套餐</div>
                        <div class="mdui-card-primary-subtitle">适合浏览网页，查找资料</div>
                    </div>

                    <div class="mdui-card-content mdui-typo">
                        <ul>
                            <li>2GB套餐流量</li>
                            <li>12个月有效期</li>
                            <li>基本技术支持</li>
                        </ul>
                    </div>

                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-text-color-theme-accent mdui-ripple">立即订购</button>
                    </div>
                </div>
            </div>

        </div>

    </div>


    {% include '__scroll_to_top_button_base__.html' %}
{% endblock %}