{% extends '__base__.html' %}

{% block script %}
    <script>
        $(function () {
            const
                ACTION = '{{ action }}',
                ID = '{{ service_id }}',
                DEFAULT_AUTO_RENEW = '{{ auto_renew }}',
                TEMPLATE_ID = '{{ service.id }}',
                TEMPLATE_TYPE = {{ service.type }}

            $('#btn-cancel').click(() => {
                if (ACTION === 'create') {
                    return location.assign('/product/create/')
                } else if (ACTION === 'renew') {
                    return location.assign('/product/')
                }
            });
            $('#label-customer-service').click(() => {
                return mdui.snackbar({message: '客服？不存在的！'});
            });

            $('#btn-pay').click(() => {
                if (!$('#cb-agreement').prop('checked')) {
                    return mdui.snackbar({
                        message: '请同意用户协议'
                    });
                }

                if (ACTION === 'create') {
                    createProduct();
                } else if (ACTION === 'renew') {
                    renewProduct();
                }
            });

            function createProduct() {
                let password = $('#input-password').val();
                if (password === null || password === '' || password.length <= 0) {
                    return mdui.snackbar({
                        message: '请输入连接密码'
                    });
                }

                let autoRenew = null;
                if (TEMPLATE_TYPE === 0) {
                    autoRenew = $('#cb-auto-renew').prop('checked');
                }
                Api.createService(TEMPLATE_ID, password, autoRenew, function (error, data, jqXHR) {
                    if (error) {
                        return mdui.snackbar({message: error.message});
                    }

                    return mdui.snackbar({
                        message: '订购成功，点击屏幕继续',
                        closeOnOutsideClick: true,
                        onClose: function () {
                            location.assign('/product');
                        }
                    });
                });
            }

            function renewProduct() {
                let autoRenew = null;
                if (TEMPLATE_TYPE === 0) {
                    autoRenew = $('#cb-auto-renew').prop('checked');
                }

                Api.renewService(ID, autoRenew, function (error, data, jqXHR) {
                    if (error) {
                        return mdui.snackbar({message: error.message});
                    }

                    return mdui.snackbar({
                        message: '续费成功，点击屏幕继续',
                        closeOnOutsideClick: true,
                        onClose: function () {
                            location.assign('/product/detail/' + TEMPLATE_ID);
                        }
                    });
                });
            }

            $('#cb-auto-renew').prop('checked', DEFAULT_AUTO_RENEW === 'True');
        });
    </script>

    <script src="{{ static_route }}/static/js/scroll_to_top.js"></script>
{% endblock %}

{% block content %}
    <div class="mdui-row">
        <!-- 左 -->
        <div class="mdui-col-xs-12 mdui-col-sm-7">
            <div class="mdui-typo">
                <h1>套餐信息</h1>
                <div class="mdui-divider"></div>
                <h3>{{ service.title }}<br/><small>{{ service.subtitle }}</small></h3>
                <ul>
                    {% for description in service.descriptions %}
                        <li>{{ description }}</li>
                    {% endfor %}
                </ul>
                {% if service.type == 0 %}
                    <div style="margin-left: 8px;">
                        <label class="mdui-checkbox">
                            <input id="cb-auto-renew" type="checkbox"/>
                            <i class="mdui-checkbox-icon"></i>
                            自动续费
                        </label>
                    </div>
                {% endif %}
                {% if action == 'create' %}
                    <div class="mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">连接密码</label>
                        <input id="input-password" class="mdui-textfield-input" type="password"/>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- 右 -->
        <div class="mdui-col-xs-12 mdui-col-sm-5">
            <div class="mdui-typo">
                <h1>订单总计</h1>
                <div class="mdui-clearfix">
                    <div class="mdui-float-left">{{ service.title }}</div>
                    <div class="mdui-float-right">{{ service.price }} 学术积分</div>
                </div>
                {% if action == 'create' %}
                    <div class="mdui-clearfix">
                        <div class="mdui-float-left">初装费</div>
                        <div class="mdui-float-right">{{ service.initialization_fee }} 学术积分</div>
                    </div>
                {% elif action == 'renew' %}
                    <div class="mdui-clearfix">
                        <div class="mdui-float-left"><del>初装费</del></div>
                        <div class="mdui-float-right"><del>{{ service.initialization_fee }} 学术积分</del></div>
                    </div>
                {% endif %}
                <div class="mdui-divider"></div>
                <div class="mdui-clearfix">
                    <div class="mdui-float-left">总计</div>
                    <div class="mdui-float-right"><strong>{{ service.total_price }} 学术积分</strong></div>
                </div>

                <div class="mdui-clearfix" style="margin-top: 16px;">
                    <div class="mdui-float-left">账户余额</div>
                    <div class="mdui-float-right"><strong>{{ balance }} 学术积分</strong></div>
                </div>

                <p style="margin-top: 16px;"><small>如果你有任何疑问可以随时咨询我们的<a href="#label-customer-service" id="label-customer-service">客服</a></small></p>
            </div>
        </div>

        <div class="mdui-col-xs-12 mdui-text-center mdui-typo" style="margin-top: 16px;">
            <label class="mdui-checkbox">
                <input id="cb-agreement" type="checkbox"/>
                <i class="mdui-checkbox-icon"></i>
                我已阅读并同意<a target="_blank" href="/agreement/">《用户协议》</a>
            </label>
        </div>

        <div class="mdui-center" style="width: 192px;">
            <button id="btn-pay" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-float-left"
                    style="width: 80px;margin-top: 16px;margin-bottom: 16px;">
                {% if action == 'create' %}
                    订购
                {% elif action == 'renew' %}
                    续费
                {% endif %}
            </button>
            <button id="btn-cancel" class="mdui-btn mdui-btn-raised mdui-ripple mdui-float-right"
                    style="width: 80px;margin-top: 16px;margin-bottom: 16px;">
                取消
            </button>
        </div>

        {% if action == 'renew' %}
            <div class="mdui-typo mdui-col-xs-12">
                <div class="mdui-divider"></div>
                <h6>续费说明</h6>
                {% if service.type == 0 %}
                    <p class="mdui-text-color-theme-secondary">每月1号为手动续费的时间，如上个月流量未用尽在这天可以继续使用。如果在1号没有及时续费，2号起学术服务会中断，在续费成功后才会重新开通学术服务。如果当月未续费，在下月2号会终止该学术服务，无法再次续费，并且不返还初装费，请知悉。</p>
                {% elif service.type == 1 %}
                    <p class="mdui-text-color-theme-secondary">流量在有效期内用尽可以提前续费。套餐超出有效期后可以手动续费，续费时间截止到超出有效期的下个月的2号（例如1月3号到期，则需要在2月2号前续费），如未按时续费，会终止该学术服务，无法再次续费，并且不返还初装费，请知悉。</p>
                {% endif %}
            </div>
        {% endif %}
    </div>


    {% include '__scroll_to_top_button_base__.html' %}
{% endblock %}