{% extends '__base_with_toolbar_only__.html' %}

{% block beforehead %}

    <script>
        function validateEmail(email) {
            let re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
            return re.test(email.toLowerCase());
        }

        function validatePassword(password) {
            let re = /^.*(?=.{6,})(?=.*[a-z])(?=.*[A-Z]).*$/;
            return re.test(password);
        }

        let
            vm = null,
            reCaptchaDialogInst = null;
        var dataCallback = function () {
            let grecaptchaResponse = grecaptcha.getResponse();
            if (grecaptchaResponse.length === 0) {
                return mdui.snackbar({
                    message: '请先完成人机身份验证'
                });
            }

            Api.verifyGoogleReCaptcha(grecaptchaResponse, function (error, data, jqXHR) {
                if (error) {
                    grecaptcha.reset();
                    return mdui.snackbar({message: error.message});
                }

                let email = vm.email.trim().toLowerCase();
                return Api.register(vm.name.trim(),
                    email,
                    CryptoJS.SHA1(vm.password.trim()).toString(),
                    vm.invitation_code.trim(),
                    function (error, data, jqXHR) {
                        if (error) {
                            reCaptchaDialogInst.close();
                            return mdui.snackbar({
                                message: error.message
                            });
                        }

                        return mdui.snackbar({
                            message: '注册成功，开始畅游Celery Soft学术吧，点击屏幕继续',
                            closeOnOutsideClick: true,
                            onClose: function () {
                                location.assign('/');
                            }
                        });
                    });
            });
        };

        $(function () {
            reCaptchaDialogInst = new mdui.Dialog('#dialog-recaptcha');
            let reCaptchaDialog = $('#dialog-recaptcha');
            reCaptchaDialog.on('close.mdui.dialog', () => {
                if (grecaptcha) {
                    grecaptcha.reset()
                }
            });

            vm = new Vue({
                el: '#vm',
                data: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirm: '',
                    invitation_code: ''
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();

                        if (!this.name.trim()) {
                            return mdui.snackbar({
                                message: '请输入用户名'
                            });
                        }
                        if (!validateEmail(this.email.trim().toLowerCase())) {
                            return mdui.snackbar({
                                message: '请输入正确的Email地址'
                            });
                        }
                        if (this.password.length < 6) {
                            return mdui.snackbar({
                                message: '口令长度至少为6个字符'
                            });
                        }
                        if (!validatePassword(this.password.trim())) {
                            return mdui.snackbar({
                                message: '密码至少 6 位，且至少包含一个大写字母和一个小写字母'
                            });
                        }
                        if (this.password !== this.password_confirm) {
                            return mdui.snackbar({
                                message: '两次输入的口令不一致'
                            });
                        }

                        if(!$('#cb-agreement').prop('checked')) {
                            return mdui.snackbar({
                                message: '请同意用户协议'
                            });
                        }

                        reCaptchaDialogInst.open();
                    }
                }
            });
        });
    </script>

    <script src='https://www.recaptcha.net/recaptcha/api.js'></script>
{% endblock %}

{% block content %}

    <div class="mdui-row">
        <div class="mdui-card mdui-typo register-card mdui-hoverable mdui-col-xs-12 mdui-col-sm-6 mdui-col-offset-sm-3">
            <h1>注册
                <small style="margin-left: 16px;">成为Celery Soft 学术的会员</small>
            </h1>

            <form id="vm">
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">用户名</label>
                    <input class="mdui-textfield-input" v-model="name" type="text" required/>
                    <div class="mdui-textfield-error">用户名不能为空</div>
                </div>

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">E-mail</label>
                    <input class="mdui-textfield-input" v-model="email" type="email" required/>
                    <div class="mdui-textfield-error">邮箱格式错误</div>
                </div>

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">密码</label>
                    <input class="mdui-textfield-input" v-model="password" type="password"
                           pattern="^.*(?=.{6,})(?=.*[a-z])(?=.*[A-Z]).*$" required/>
                    <div class="mdui-textfield-error">密码至少 6 位，且至少包含一个大写字母和一个小写字母</div>
                </div>

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">确认密码</label>
                    <input class="mdui-textfield-input" v-model="password_confirm" type="password"
                           pattern="^.*(?=.{6,})(?=.*[a-z])(?=.*[A-Z]).*$" required/>
                    <div class="mdui-textfield-error">密码至少 6 位，且至少包含一个大写字母和一个小写字母</div>
                </div>

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">邀请码</label>
                    <input class="mdui-textfield-input" v-model="invitation_code" type="text" required/>
                    <div class="mdui-textfield-error">邀请码不能为空</div>
                </div>

                <label class="mdui-checkbox">
                    <input id="cb-agreement" type="checkbox"/>
                    <i class="mdui-checkbox-icon"></i>
                    我已阅读并同意<a target="_blank" href="/agreement/">《用户协议》</a>
                </label>

                <button v-on:click="submit" style="margin-top: 16px;" type="submit" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-center">
                    注册
                </button>
            </form>
        </div>
    </div>

    <div class="mdui-row">
        <div class="mdui-typo text-under-register-card mdui-text-color-theme-secondary mdui-col-xs-12 mdui-col-sm-6 mdui-col-offset-sm-3">
            已有账号？请<a href="/login/">登录</a>
        </div>
    </div>

    <!-- 人机身份验证对话框 -->
    <div id="dialog-recaptcha" class="mdui-dialog">
        <div class="mdui-dialog-title">完成人机身份验证</div>
        <div class="mdui-dialog-content">
            为了本站的良好运行，防止受到爬虫机器人的攻击，请协助完成人机身份验证。
            <div style="text-align: center; margin-top: 16px">
                {% if debug %}
                    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" data-callback="dataCallback" style="display: inline-block"></div>
                {% else %}
                    <div class="g-recaptcha" data-sitekey="6LenHTkUAAAAAC4Mf2VShWviwK8YGJfLeZlyspgV" data-callback="dataCallback" style="display: inline-block"></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}