<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>『Celery Soft 学术』全新升级</title>
</head>
<body>
    <table style="width: 100%; max-width: 960px; min-width: 480px; margin: auto">
        <tr>
            <td style="font-size: 15px;">亲爱的{}：</td>
        </tr>
        <tr>
            <td style="padding-top: 16px; font-size: 15px;">您好，不知道您还记得『Celery Soft 学术』吗，您已经有{}天没有进行过登录了，我们进行了全新的改版，不如回来看看呗。</td>
        </tr>
        <tr>
            <td style="padding-top: 16px; font-size: 15px;"><a href="https://www.celerysoft.science" target="_blank"><strong>https://www.celerysoft.science</strong></a></td>
        </tr>
        <tr>
            <td style="font-size: 15px;">（如果链接无法点击，请将它拷贝到浏览器的地址栏中直接打开）</td>
        </tr>
        <tr>
            <td style="padding-top: 16px; font-size: 15px;">如果您忘记了密码，可以使用网站的<a href="https://www.celerysoft.science/password-reset/" target="_blank">找回密码</a>功能重置登录密码。</td>
        </tr>
        <tr>
            <td style="padding-top: 16px; font-size: 15px;">本次升级，我们主要进行了以下更新：</td>
        </tr>
        <tr>
            <td style="font-size: 15px;">
                <ul>
                    <li>全新的网站UI</li>
                    <li>全新设计的底层支付系统</li>
                    <li>底层网络优化</li>
                    <li>优化账户安全</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="font-size: 15px;">还有无数的小更新，就不一一列举了。相比于之前，这次升级定能让您获得更好的体验，真诚地请求您回来看看。</td>
        </tr>
        <tr>
            <td style="padding-top: 16px; font-size: 15px;">此致，</td>
        </tr>
        <tr>
            <td style="font-size: 15px;">Celery Soft 学术</td>
        </tr>
        <tr>
            <td style="padding-top: 48px; font-size: 13px;">
                您之所以收到这封邮件，是因为您曾经注册成为『Celery Soft 学术』的用户。本邮件由『Celery Soft 学术』系统自动发出，请勿直接回复！如果您不愿意继续接收到此类邮件，请点击<a href="https://www.celerysoft.science" target="_blank">退订本类邮件</a>。
            </td>
        </tr>
        <tr>
            <td style="font-size: 13px;">
                『Celery Soft 学术』<a href="https://www.celerysoft.science" target="_blank">celerysoft.science</a>是一个工具类网站，通过我们提供的服务，您可以无限制地获取到位于全球各地互联网上的内容，以便服务于您的工作和生活。
            </td>
        </tr>
        <tr>
            <td style="padding-top: 96px;"><img src="https://www.celerysoft.science/favicon.ico" alt="logo" width="40" height="40" style="display: block; margin: auto"></td>
        </tr>
        <tr>
            <td style="text-align: center; font-size: 13px;">Copyright ©2017-2020 <a href="https://www.celerysoft.science" target="_blank">Celery Soft 学术</a> 版权所有</td>
        </tr>
    </table>
</body>
</html>